{% extends "index.html" %}
{% load static %}

{% block title %}
About | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main">
    <section id="homesection" style="padding: 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About the Fraud Detection System</h1>
                    <p>Welcome to our Fraud Detection System, designed to identify and mitigate fraudulent activities within financial transactions. This system provides powerful tools and insights for efficient fraud management.</p>

                    <h2>Key Features:</h2>
                    <ul>
                        <li><strong>Real-time Monitoring:</strong> Monitor transactions in real-time to detect potential fraud patterns.</li>
                        <li><strong>Advanced Analytics:</strong> Utilize advanced analytics to uncover suspicious trends and anomalies.</li>
                        <li><strong>User Management:</strong> Manage user access and permissions for effective system control.</li>
                        <li><strong>Alerts and Notifications:</strong> Receive instant alerts and notifications for critical fraud detection events.</li>
                        <li><strong>Customizable Rules:</strong> Customize fraud detection rules and thresholds to adapt to evolving fraud tactics.</li>
                    </ul>

                    <h2>Contact Us:</h2>
                    <p>For technical support or inquiries, please contact our Fraud Detection Support Team at monahengmothabeng@gmail.com or call us at +266 5766 2279.</p>

                    <p>Thank you for choosing our Fraud Detection System to safeguard your financial transactions and protect against fraudulent activities.</p>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
</main>

{% endblock %}
